@import url('reset.css');
@import url('variables.css');
@import url('layout.css');
@import url('components.css');

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Aplicar animación al header y al .hero */
.header,
.hero__contenido {
  animation: fadeInUp 1s ease forwards;
}
